.switch__section {
  max-width: 50px;
  width: 100%;
}

.switch__title {
  font-size: 20px;
  color: #212529;
  margin-bottom: 18px;
}

.checkbox {
  
  position: relative;
  &__input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    &:checked + .checkbox__styled {
      background-color: #8ab7e4;
      &::before {
        left: 23px;
        background-color: #007fff;
      }
    }
  }
  &__styled {
    display: flex;
    cursor: pointer;
    z-index: 1;
    width: 45px;
    height: 15px;
    border-radius: 100px;
    margin-bottom: 20px;
    background-color: #aeb6be;
    position: relative;
    z-index: 2;
    transition: all ease 0.2s;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: -2px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      outline: 6px solid transparent;
      border-radius: 50%;
      transition: 0.2s;
      background-color: #ffffff;
      transition: all ease 0.3s;
      box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    }
  }
}

.checkbox__styled:hover::before {
  outline: 6px solid rgba(#e2dddd, 0.5);
}

.checkbox__input:checked + .checkbox__styled:hover::before {
  outline: 6px solid rgba(#a0c0e0, 0.3);
}
